
*.xcuserstate

*.xccheckout

PlanMyDay/.DS_Store

*.xcuserstate

PlanMyDay/PlanMyDay.xcodeproj/project.xcworkspace/xcuserdata/my_regmail.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate
